### Flask ###
# Name of the app (here it just runs the humasol package)
FLASK_APP=humasol
# Set the debug mode on or off (1 is on)
FLASK_DEBUG=1


### Database ###
SECRET_KEY="supersecret"
SECURITY_PASSWORD_SALT="somesalt"
# URI to a database, substitute username, password and name for their values
DATABASE_URL="postgresql://username:password@localhost/name"


### Humasol ###
# Credentials for the admin created at startup for the first time
ADMIN_EMAIL="admin@humasol.com"
ADMIN_PWD="admin"
