{% macro wrap(str) -%}
  `{{ str|trim }}`
{%- endmacro %}

{% macro student(deletable=True, prefix='students-x') -%}
    <!--suppress XmlDuplicatedId -->
    <div class="form-card form-row">
        <div class="form-col grow-one col-center">
            <div class="form-row">
                <img class="form-profile-image" src="{{ url_for('static', filename='img/humasol_icon_light.png') }}">
            </div>
        </div>
        <div class="form-col grow-four form-item">
            <label class="form-item-label" for="{{ prefix }}-person_name">Name</label>
            <input class="form-input" id="{{ prefix }}-person_name" name="{{ prefix }}-person_name" type="text" value="">

            <label class="form-item-label" for="{{ prefix }}-email">Email</label>
            <input class="form-input" id="{{ prefix }}-email" name="{{ prefix }}-email" type="text" value="">

            <label class="form-item-label" for="{{ prefix }}-phone">Phone number</label>
            <input class="form-input" id="{{ prefix }}-phone" name="{{ prefix }}-phone" type="text" value="">
        </div>
        <div class="form-col grow-four form-item">
            <label class="form-item-label" for="{{ prefix }}-university">University</label>
            <input class="form-input" id="{{ prefix }}-university" name="{{ prefix }}-university" type="text" value="">

            <label class="form-item-label" for="{{ prefix }}-field_of_study">Field of study</label>
            <input class="form-input" id="{{ prefix }}-field_of_study" name="{{ prefix }}-field_of_study" type="text" value="">
        </div>
        {% if deletable %}
            <div class="form-col col-center grow-one">
                <!-- delete button -->
                <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del"
                     onclick="deleteElement(this)">
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro supervisor(deletable=True, prefix='supervisors-x') -%}
    <div class="form-card form-row">
        <div class="form-col grow-one col-center">
            <div class="form-row">
                <img class="form-profile-image" src="{{ url_for('static', filename='img/humasol_icon_light.png') }}">
            </div>
        </div>
        <div class="form-col grow-four form-item">
            <label class="form-item-label" for="{{ prefix }}-person_name">Name</label>
            <input class="form-input" id="{{ prefix }}-person_name" name="{{ prefix }}-person_name" type="text" value="">

            <label class="form-item-label" for="{{ prefix }}-email">Email</label>
            <input class="form-input" id="{{ prefix }}-email" name="{{ prefix }}-email" type="text" value="">
        </div>
        <div class="form-col grow-four form-item">
            <label class="form-item-label" for="{{ prefix }}-phone">Phone number</label>
            <input class="form-input" id="{{ prefix }}-phone" name="{{ prefix }}-phone" type="text" value="">

            <label class="form-item-label" for="{{ prefix }}-function">Function</label>
            <input class="form-input" id="{{ prefix }}-function" name="{{ prefix }}-function" type="text" value="">
        </div>
        {% if deletable %}
            <div class="form-col col-center grow-one">
                <!-- delete button -->
                <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del"
                    onclick="deleteElement(this)">
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro partner(deletable=True, prefix='partners-x') -%}
    <div class="form-card form-row">
        <div class="form-col col-center grow-one">
            <img class="form-profile-image form-item" src="{{ url_for('static',filename='img/profile_icon_placeholder.png') }}">
        </div>
        <div class="form-col grow-six">
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    <label class="form-item-label" for="{{ prefix }}-person_name">Name</label>
                    <input class="form-input" id="{{ prefix }}-person_name" name="{{ prefix }}-person_name" type="text" value="">

                    <label class="form-item-label" for="{{ prefix }}-email">Email</label>
                    <input class="form-input" id="{{ prefix }}-email" name="{{ prefix }}-email" type="text" value="">

                    <label class="form-item-label" for="{{ prefix }}-partner_type">Type</label>
                    <select class="form-input" id="{{ prefix }}-partner_type" name="{{ prefix }}-partner_type"
                            onchange="selectPartnerType(this, this.value)">
                        <option value="bp">Belgian Partner</option>
                        <option value="sp">Southern Partner</option>
                    </select>
                </div>
                <div class="form-col grow-one form-item">
                    <label class="form-item-label" for="{{ prefix }}-phone">Phone number</label>
                    <input class="form-input" id="{{ prefix }}-phone" name="{{ prefix }}-phone" type="text" value="">

                    <label class="form-item-label" for="{{ prefix }}-function">Function</label>
                    <input class="form-input" id="{{ prefix }}-function" name="{{ prefix }}-function" type="text" value="">
                </div>
            </div>
            <div class="form-row">
                <div class="form-card form-row form-item grow-one">
                    <div class="form-col grow-one">
                        <div class="form-row form-item">
                            <label class="form-input-label">Organization</label>
                        </div>
                        <div class="form-row">
                            <div class="form-col grow-four form-item">
                                <label class="form-item-label" for="{{ prefix }}-organization-organization_name">Name</label>
                                <input class="form-input" id="{{ prefix }}-organization-organization_name"
                                       name="{{ prefix }}-organization-organization_name" type="text" value="">

                                <label class="form-item-label hidden" for="{{ prefix }}-organization-country">Country</label>
                                <input class="form-input hidden" id="{{ prefix }}-organization-country"
                                       name="partners-x-organization-country" type="text" value="">
                            </div>
                            <div class="form-col grow-one form-item">
                                <label class="form-item-label" for="{{ prefix }}-organization-logo">Partner logo</label>
                                <input class="form-input" id="{{ prefix }}-organization-logo" name="partners-x-organization-logo"
                                       type="file">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if deletable %}
            <div class="form-col col-center grow-one">
                <!-- delete button -->
                <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del"
                    onclick="deleteElement(this)">
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro period(prefix='something') -%}
    <div class="form-container">
        <div class="form-row no-wrap">
            <div class="form-col grow-four form-item">
                <label class="form-input-label" for="{{ prefix }}-x-periods-x-period">Interval length</label>
                <input class="form-input" id="{{ prefix }}-x-periods-x-period" name="{{ prefix }}-x-periods-x-period" type="text" value="">

                <label class="form-input-label" for="{{ prefix }}-x-periods-x-unit">Interval unit</label>
                <select class="form-input" id="{{ prefix }}-x-periods-x-unit" name="{{ prefix }}-x-periods-x-unit">
                    <option value="WEEK">Week</option>
                    <option value="MONTH">Month</option>
                    <option value="YEAR">Year</option>
                </select>
            </div>
            <div class="form-col grow-four form-item">
                <label class="form-input-label" for="{{ prefix }}-x-periods-x-start">Starting date</label>
                <input class="form-input" id="{{ prefix }}-x-periods-x-start" name="{{ prefix }}-x-periods-x-start" type="date" value="">

                <label class="form-input-label" for="{{ prefix }}-x-periods-x-end">End date</label>
                <input class="form-input" id="{{ prefix }}-x-periods-x-end" name="{{ prefix }}-x-periods-x-end" type="date" value="">
            </div>

            <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-period-del"
                 onclick="deletePeriod(this)">

        </div>
    </div>
{%- endmacro %}

{% macro task() -%}
    <div class="form-card form-row">
        <div class="from-col grow-one">
            <div class="form-row">
                <div class="form-col grow-four form-item">
                    <label class="form-input-label" for="tasks-x-task_name">Task name</label>
                    <input class="form-input" id="tasks-x-task_name" name="tasks-x-task_name" type="text" value="">

                    <label class="form-input-label" for="tasks-x-sub_type">Subscriber type</label>
                    <select class="form-input" id="tasks-x-sub_type" name="tasks-x-sub_type"
                            onchange="taskSubscriberType(this)">
                        <option value="stu">Student</option>
                        <option value="sup">Supervisor</option>
                        <option value="par">Partner</option>
                    </select>
                </div>
                <div class="form-col grow-four form-item">
                    <label class="form-input-label" for="tasks-x-function">Task description</label>
                    <input class="form-input-large" id="tasks-x-function" name="tasks-x-function" type="text" value="">
                </div>
                <div class="form-col col-center grow-one">
                    <!-- delete button -->
                    <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del"
                         onclick="deleteElement(this, levels=4)">
                </div>
            </div>

            <div class="form-item">
                <label class="form-input-label">Subscriber</label>

                {{ student(False, 'tasks-x-subscriber') }}

            </div>

            <div class="form-item">
                <div class="form-card">
                    <div class="form-row form-center">
                        <div class="form-col grow-one form-item">
                            <label class="form-input-label">Periods</label>
                        </div>
                        <div class="form-col col-end form-item">
                            <button type="button" class="button button-secondary" onclick="addPeriod(this, 'tasks')">
                                Add Period
                            </button>
                        </div>
                    </div>
                    <div class="form-grid">

                        {{ period('tasks') }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro subscription() -%}
    <div class="form-card form-row">
        <div class="from-col grow-one">
            <div class="form-row">
                <div class="form-col grow-eight form-item">
                    <label class="form-input-label" for="subscriptions-x-sub_type">Subscriber type</label>
                    <select class="form-input" id="subscriptions-x-sub_type" name="subscriptions-x-sub_type"
                            onchange="subscriptionSubscriberType(this)">
                        <option value="stu">Student</option>
                        <option value="sup">Supervisor</option>
                        <option value="par">Partner</option>
                    </select>
                </div>
                <div class="form-col col-center grow-one">
                    <!-- delete button -->
                    <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del"
                         onclick="deleteElement(this, levels=4)">
                </div>
            </div>

            <div class="form-item">
                <label class="form-input-label">Subscriber</label>

                {{ student(False, 'subscriptions-x-subscriber') }}
            </div>

            <div class="form-item">
                <div class="form-card">
                    <div class="form-row row-center">
                        <div class="form-col grow-one form-item">
                            <label class="form-input-label">Periods</label>
                        </div>
                        <div class="form-col col-end form-item">
                            <button type="button" class="button button-secondary" onclick="addPeriod(this, 'subscriptions')">
                                Add Period
                            </button>
                        </div>
                    </div>
                    <div class="form-grid">

                        {{ period('subscriptions') }}

                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}
