{% macro get(form) -%}
    {% if form.category.data == 'energy' %}
        {{ energy(form.specifics) }}
    {% endif %}
{%- endmacro %}

{% macro energy(form) -%}
    <div class="form-row">
        <!-- General -->
        <div class="form-col form-item">
          {{ form.power.label(class="form-input-label") }}
          {{ form.power(class="form-input") }}
        </div>
    </div>

    {% if form.battery.data %}
        {% set battery_hidden = "" %}
    {% else %}
        {% set battery_hidden = "hidden" %}
    {% endif %}

    {% if form.grid.data %}
        {% set grid_hidden = "" %}
    {% else %}
        {% set grid_hidden = "hidden" %}
    {% endif %}

    {% if form.generator.data %}
        {% set generator_hidden = "" %}
    {% else %}
        {% set generator_hidden = "hidden" %}
    {% endif %}

    {% set is_compound = form.battery.data and (form.grid.data or form.generator.data)
        or form.grid.data and form.generator.data %}

    <div class="form-row">
        <!-- Battery -->
        <div class="form-col energy-component">
            <div class="form-row">
                <div class="form-col form-item">
                    {{ form.battery.label(class="form-input-label") }}
                </div>
                <div class="form-col form-item">
                    {{ form.battery(onChange="toggleEnergyComponent(this)") }}
                </div>
            </div>
            <div class="form-row {% if is_compound %} battery_hidden {% else %} hidden {% endif %}">
                <div class="form-col form-item">
                    {{ form.battery_is_primary.label(class="form-input-label") }}
                </div>
                <div class="form-col form-item">
                    {{ form.battery_is_primary() }}
                </div>
            </div>
        </div>
        <div class="form-col grow-one {{ battery_hidden }}">
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.battery_power.label(class="form-input-label") }}
                    {{ form.battery_power(class="form-input") }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.battery_capacity.label(class="form-input-label") }}
                    {{ form.battery_capacity(class="form-input") }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.battery_type.label(class="form-input-label") }}
                    {{ form.battery_type(class="form-input") }}
                </div>
            </div>
        </div>
        <div class="form-col grow-one {{ battery_hidden }}">
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.battery_base_soc.label(class="form-input-label") }}
                    {{ form.battery_base_soc(class="form-input", min="0", max="100") }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.battery_min_soc.label(class="form-input-label") }}
                    {{ form.battery_min_soc(class="form-input", min="0", max="100") }}
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <!-- Grid -->
        <div class="form-col energy-component">
            <div class="form-row">
                <div class="form-col form-item">
                    {{ form.grid.label(class="form-input-label") }}
                </div>
                <div class="form-col form-item">
                    {{ form.grid(onChange="toggleEnergyComponent(this)") }}
                </div>
            </div>
            <div class="form-row hidden">
                <div class="form-col form-item">
                    {{ form.grid_is_primary.label(class="form-input-label") }}
                </div>
                <div class="form-col form-item">
                    {{ form.grid_is_primary() }}
                </div>
            </div>
        </div>
        <div class="form-col grow-one hidden">
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.grid_power.label(class="form-input-label") }}
                    {{ form.grid_power(class="form-input") }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.grid_blackout_threshold.label(class="form-input-label") }}
                    {{ form.grid_blackout_threshold(class="form-input") }}
                </div>
            </div>
        </div>
        <div class="form-col grow-one hidden">
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.grid_energy_cost.label(class="form-input-label") }}
                    {{ form.grid_energy_cost(class="form-input") }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.grid_injection_cost.label(class="form-input-label") }}
                    {{ form.grid_injection_cost(class="form-input") }}
                </div>
            </div>
        </div>
    </div>

    <div class="form-row">
        <!-- Generator -->
        <div class="form-col energy-component">
            <div class="form-row">
                <div class="form-col form-item">
                    {{ form.generator.label(class="form-input-label") }}
                </div>
                <div class="form-col form-item">
                    {{ form.generator(onChange="toggleEnergyComponent(this)") }}
                </div>
            </div>
            <div class="form-row hidden">
                <div class="form-col form-item">
                    {{ form.generator_is_primary.label(class="form-input-label") }}
                </div>
                <div class="form-col form-item">
                    {{ form.generator_is_primary() }}
                </div>
            </div>
        </div>
        <div class="form-col grow-one hidden">
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.generator_power.label(class="form-input-label") }}
                    {{ form.generator_power(class="form-input") }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.generator_fuel_cost.label(class="form-input-label") }}
                    {{ form.generator_fuel_cost(class="form-input") }}
                </div>
            </div>
        </div>
        <div class="form-col grow-one hidden">
            <div class="form-row">
                <div class="form-col form-item">
                    {{ form.generator_overheats.label(class="form-input-label") }}
                </div>
                <div class="form-col form-item">
                    {{ form.generator_overheats() }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.generator_cooldown_time.label(class="form-input-label") }}
                    {{ form.generator_cooldown_time(class="form-input") }}
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}
