{% macro get(form) -%}
    {% if form.category == 'ENERGY' %}
        {{ energy(form.subform) }}
    {% endif %}
{%- endmacro %}

{% macro energy(form) -%}
    <div class="form-row">
        <div>
            <h3 class="form_row__title">Sources</h3>
            <button id="sources-button" type="button" onclick="addEnergySource()" class="button button-secondary">
                Add
            </button>
        </div>
        {% for s in form.sources %}
        <div class="form-col form-item">
            {{ s.component.power.label(class="form-input-label") }}
        </div>
        {% endfor %}
    </div>
    <div class="form-row">
        <div>
            <h3 class="form_row__title">Storage</h3>
            <button id="storage-button" type="button" onclick="addEnergyStorage()" class="button button-secondary">
                Add
            </button>
        </div>
        {% for s in form.storage %}
        <div class="form-col form-item">
            {{ s.component.power.label(class="form-input-label") }}
        </div>
        {% endfor %}
    </div>
    <div class="form-row">
        <div>
            <h3 class="form_row__title">Loads</h3>
            <button id="loads-button" type="button" onclick="addEnergyLoad()" class="button button-secondary">
                Add
            </button>
        </div>
        {% for s in form.loads %}
        <div class="form-col form-item">
            {{ s.component.power.label(class="form-input-label") }}
        </div>
        {% endfor %}
    </div>
{%- endmacro %}

{% macro grid(form) -%}
    <div>
        <div class="form-col form-item grow-four">
            {{ form.power.label(class="form-input-label") }}
            {{ form.power(class="form-input") }}
        </div>
        <div class="form-col form-item grow-four">
            {{ form.is_primary.label(class="form-input-label") }}
            {{ form.is_primary(class="form-input") }}
        </div>
        <div class="form-col form-item grow-four">
            {{ form.power.label(class="form-input-label") }}
            {{ form.power(class="form-input") }}
        </div>
    </div>
{%- endmacro %}
