<div class="form-card form-row">
    <div class="form-col col-center grow-one">
        <img class="form-profile-image form-item" src="{{ url_for('static',filename='img/profile_icon_placeholder.png') }}">
    </div>
    <div class="form-col grow-six">
        <div class="form-row">
            <div class="form-col grow-one form-item">
                {{ partner.person_name.label(class="form-item-label") }}
                {{ partner.person_name(class="form-input") }}

                {{ partner.email.label(class="form-item-label") }}
                {{ partner.email(class="form-input") }}

                {{ partner.partner_type.label(class="form-item-label") }}
                {{ partner.partner_type(class="form-input", onChange="selectPartnerType(this, this.value)") }}
            </div>
            <div class="form-col grow-one form-item">
                {{ partner.phone.label(class="form-item-label") }}
                {{ partner.phone(class="form-input") }}

                {{ partner.function.label(class="form-item-label") }}
                {{ partner.function(class="form-input") }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-card form-row form-item grow-one">
                <div class="form-col grow-one">
                    <div class="form-row form-item">
                        {{ partner.organization.label(class="form-input-label") }}
                    </div>
                    <div class="form-row">
                        <div class="form-col grow-four form-item">
                            {{ partner.organization.organization_name.label(class="form-item-label") }}
                            {{ partner.organization.organization_name(class="form-input") }}

                            {{ partner.organization.country.label(class="form-item-label hidden") }}
                            {{ partner.organization.country(class="form-input hidden") }}
                        </div>
                        <div class="form-col grow-one form-item">
                            {{ partner.organization.logo.label(class="form-item-label") }}
                            {{ partner.organization.logo(class="form-input") }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if deletable %}
        <div class="form-col col-center grow-one">
            <!-- delete button -->
            <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del"
                onclick="deleteElement(this)">
        </div>
    {% endif %}
</div>
