{% extends 'base.html' %}

{% block title %}
  Project
{% endblock %}

{% block scripts %}
<script>
  function defer(fn) {
        if (window.jQuery) {
            fn();
        } else {
            setTimeout(() => defer(fn) , 50);
        }
    }

    defer(() => {
        $.get("{{ url_for('gui.get_project') }}?id={{ project_id }}", function( data ) {
            $( "#main-content" ).html( data );
        })
    })
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/project.js') }}" defer></script>
{% endblock %}
