<div class="form-card form-row">
    <div class="form-col grow-one col-center">
        <div class="form-row">
            <img class="form-profile-image" src="{{ url_for('static', filename='img/humasol_icon_light.png') }}">
        </div>
    </div>
    <div class="form-col grow-four form-item">
        {{ supervisor.person_name.label(class="form-item-label") }}
        {{ supervisor.person_name(class="form-input") }}

        {{ supervisor.email.label(class="form-item-label") }}
        {{ supervisor.email(class="form-input") }}
    </div>
    <div class="form-col grow-four form-item">
        {{ supervisor.phone.label(class="form-item-label") }}
        {{ supervisor.phone(class="form-input") }}

        {{ supervisor.function.label(class="form-item-label") }}
        {{ supervisor.function(class="form-input") }}
    </div>
    {% if deletable %}
        <div class="form-col col-center grow-one">
            <!-- delete button -->
            <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del"
                onclick="deleteElement(this)">
        </div>
    {% endif %}
</div>
