{% macro wrap(str) -%}
  `{{ str|trim }}`
{%- endmacro %}

{% macro person_element(element, deletable) -%}
    {% if element.LABEL == 'student' %}
        {{ student(element, deletable) }}
    {% elif element.LABEL == 'supervisor' %}
        {{ supervisor(element, deletable) }}
    {% elif element.LABEL == 'partner' %}
        {{ partner(element, deletable) }}
    {% endif %}
{%- endmacro %}

{% macro student(form, deletable=True) -%}
    <div id="students-x" class="form-card form-row">
        <div class="form-col grow-one col-center">
            <div class="form-row">
                <img class="form-profile-image" src="{{ url_for('static', filename='img/humasol_icon_light.png') }}">
            </div>
        </div>
        <div class="form-col grow-four form-item">
            {{ form.person_name.label(class="form-item-label") }}
            {{ form.person_name(class="form-input") }}

            {{ form.email.label(class="form-item-label") }}
            {{ form.email(class="form-input") }}

            {{ form.phone.label(class="form-item-label") }}
            {{ form.phone(class="form-input") }}
        </div>
        <div class="form-col grow-four form-item">
            {{ form.university.label(class="form-item-label") }}
            {{ form.university(class="form-input") }}

            {{ form.field_of_study.label(class="form-item-label") }}
            {{ form.field_of_study(class="form-input") }}
        </div>
        {% if deletable %}
            <div class="form-col col-center grow-one">
                <!-- delete button -->
                <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del" onclick="deleteElement(this)">
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro supervisor(form, deletable=True) -%}
    <div id="supervisors-x" class="form-card form-row">
        <div class="form-col grow-one col-center">
            <div class="form-row">
                <img class="form-profile-image" src="{{ url_for('static', filename='img/humasol_icon_light.png') }}">
            </div>
        </div>
        <div class="form-col grow-four form-item">
            {{ form.person_name.label(class="form-item-label") }}
            {{ form.person_name(class="form-input") }}

            {{ form.email.label(class="form-item-label") }}
            {{ form.email(class="form-input") }}
        </div>
        <div class="form-col grow-four form-item">
            {{ form.phone.label(class="form-item-label") }}
            {{ form.phone(class="form-input") }}

            {{ form.function.label(class="form-item-label") }}
            {{ form.function(class="form-input") }}
        </div>
        {% if deletable %}
            <div class="form-col col-center grow-one">
                <!-- delete button -->
                <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del"
                    onclick="deleteElement(this)">
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro partner(form, deletable=True) -%}
    <div id="partners-x" class="form-card form-row">
        <div class="form-col col-center grow-one">
            <img class="form-profile-image form-item" src="{{ url_for('static',filename='img/profile_icon_placeholder.png') }}">
        </div>
        <div class="form-col grow-six">
            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.person_name.label(class="form-item-label") }}
                    {{ form.person_name(class="form-input") }}

                    {{ form.email.label(class="form-item-label") }}
                    {{ form.email(class="form-input") }}

                    {{ form.partner_type.label(class="form-item-label") }}
                    {{ form.partner_type(class="form-input", onChange="selectPartnerType(this, this.value)") }}
                </div>
                <div class="form-col grow-one form-item">
                    {{ form.phone.label(class="form-item-label") }}
                    {{ form.phone(class="form-input") }}

                    {{ form.function.label(class="form-item-label") }}
                    {{ form.function(class="form-input") }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-card form-row form-item grow-one">
                    <div class="form-col grow-one">
                        <div class="form-row form-item">
                            {{ form.organization.label(class="form-input-label") }}
                        </div>
                        <div class="form-row">
                            <div class="form-col grow-four form-item">
                                {{ form.organization.organization_name.label(class="form-item-label") }}
                                {{ form.organization.organization_name(class="form-input") }}

                                {{ form.organization.country.label(class="form-item-label hidden") }}
                                {{ form.organization.country(class="form-input hidden") }}
                            </div>
                            <div class="form-col grow-one form-item">
                                {{ form.organization.logo.label(class="form-item-label") }}
                                {{ form.organization.logo(class="form-input") }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if deletable %}
            <div class="form-col col-center grow-one">
                <!-- delete button -->
                <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del"
                    onclick="deleteElement(this)">
            </div>
        {% endif %}
    </div>
{%- endmacro %}

{% macro period(form, prefix="-") -%}
    <div id="{{ prefix }}periods-x" class="form-container">
        <div class="form-row no-wrap">
            <div class="form-col grow-four form-item">
                {{ form.interval.label(class="form-input-label") }}
                {{ form.interval(class="form-input") }}

                {{ form.unit.label(class="form-input-label") }}
                {{ form.unit(class="form-input") }}
            </div>
            <div class="form-col grow-four form-item">
                {{ form.start.label(class="form-input-label") }}
                {{ form.start(class="form-input") }}

                {{ form.end.label(class="form-input-label") }}
                {{ form.end(class="form-input") }}
            </div>

            <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-period-del"
                 onclick="deleteElement(this, 1)">

        </div>
    </div>
{%- endmacro %}

{% macro task(form) -%}
    <div id="tasks-x" class="form-card form-row">
        <div class="from-col grow-one">
            <div class="form-row">
                <div class="form-col grow-four form-item">
                    {{ form.task_name.label(class="form-input-label") }}
                    {{ form.task_name(class="form-input") }}
                </div>
                <div class="form-col grow-four form-item">
                    {{ form.function.label(class="form-input-label") }}
                    {{ form.function(class="form-input") }}
                </div>
                <div class="form-col col-center grow-one">
                    <!-- delete button -->
                    <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del"
                         onclick="deleteElement(this, levels=4)">
                </div>
            </div>

            <div class="form-item">
                {{ form.subscriber.label(class="form-input-label") }}
                {{ form.subscriber.element_type(class="form-input random", onChange="taskSubscriberType(this)") }}

                {{ person_element(form.subscriber.element, False) }}
            </div>

            <div class="form-item">
                <div class="form-card">
                    <div class="form-row form-center">
                        <div class="form-col grow-one form-item">
                            {{ form.periods.label(class="form-input-label") }}
                        </div>
                        <div class="form-col col-end form-item">
                            <button type="button" class="button button-secondary"
                                    aria-label="tasks" onclick="addPeriod(this, 'tasks')">
                                Add Period
                            </button>
                        </div>
                    </div>
                    <div id="tasks-x-periods" class="form-grid">
                        {% for p in form.periods %}
                            {{ period(p, 'tasks-x-') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{%- endmacro %}

{% macro subscription(form) -%}
    <div id="subscriptions-x" class="form-card form-row">
        <div class="from-col grow-one">
            <div class="form-row">
                <div class="form-col col-center grow-one">
                    <!-- delete button -->
                    <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del"
                         onclick="deleteElement(this)">
                </div>
            </div>

            <div class="form-item">
                {{ form.subscriber.label(class="form-input-label") }}
                {{ form.subscriber.element_type(class="form-input random", onChange="taskSubscriberType(this)") }}

                {{ person_element(form.subscriber.element, False) }}
            </div>

            <div class="form-item">
                <div class="form-card">
                    <div class="form-row row-center">
                        <div class="form-col grow-one form-item">
                            {{ form.periods.label(class="form-input-label") }}
                        </div>
                        <div class="form-col col-end form-item">
                            <button type="button" class="button button-secondary"
                                    aria-label="subscriptions" onclick="addPeriod(this, 'subscriptions')">
                                Add Period
                            </button>
                        </div>
                    </div>
                    <div id="subscriptions-x-periods" class="form-grid">
                        {% for p in form.periods %}
                            {{ period(p, 'subscriptions-x-') }}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{%- endmacro %}
