<div class="form-card form-row">
    <div class="from-col grow-one">
        <div class="form-row">
            <div class="form-col grow-eight form-item">
                {{ subscription.sub_type.label(class="form-input-label") }}
                {{ subscription.sub_type(class="form-input", onChange="subscriptionSubscriberType(this)") }}
            </div>
            <div class="form-col col-center grow-one">
                <!-- delete button -->
                <img src="{{ url_for('static', filename='img/cross_icon.png') }}" class="form-item form-del"
                     onclick="deleteElement(this, levels=4)">
            </div>
        </div>

        <div class="form-item">
            {{ subscription.subscriber.label(class="form-input-label") }}

            {% set deletable = False %}
            {% set student = subscription.subscriber.student %}
            {% include 'project/form_items/student.html' %}
        </div>

        <div class="form-item">
            <div class="form-card">
                <div class="form-row row-center">
                    <div class="form-col grow-one form-item">
                        {{ subscription.periods.label(class="form-input-label") }}
                    </div>
                    <div class="form-col col-end form-item">
                        <button type="button" class="button button-secondary" onclick="addPeriod(this, 'subscriptions')">
                            Add Period
                        </button>
                    </div>
                </div>
                <div class="form-grid">
                    {% for period in subscription.periods %}
                        {% include 'project/form_items/period.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
