{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
    <head>
    {%- block head %}
        <title>Humasol | {% block title %}{% endblock title %}</title>

        {%- block metas %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%- endblock metas %}

        {%- block styles %}
<!--            <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>-->
<!--            <link href="https://fonts.cdnfonts.com/css/inter" rel="stylesheet">-->

            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        {%- endblock styles %}

        <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    {%- endblock head %}
    </head>
    <body id="body" {% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}

        {% block content -%}
        {%- endblock content %}

        {% block scripts %}
        {%- endblock scripts %}

    {%- endblock body %}
    </body>
{%- endblock html %}
</html>
{% endblock doc -%}
