{% extends "security/base.html" %}
{% from "_macros.html" import render_field_with_errors, render_field, render_field_errors, render_form_errors, prop_next %}

{% block title %}
Login
{% endblock %}

{% block content %}
{% include "security/_messages.html" %}
<img class="login-screen__bg" src="{{ url_for('static', filename='img/humasol_icon.png') }}">
<div class="login-screen">
    <div class="login-image grow-one">
        <img src="{{ url_for('static', filename='img/humasol_icon.png') }}">
    </div>
    <div class="login-form grow-one">
        <form action="{{ url_for('gui.security.login') }}{{ prop_next() }}" method="POST" name="login_user_form">
            {{ login_user_form.hidden_tag() }}

<!--            {{ render_form_errors(login_user_form) }}-->

            {% if "email" in identity_attributes %}
                {{ render_field_with_errors(login_user_form.email) }}
            {% endif %}

            {% if login_user_form.username and "username" in identity_attributes %}
                {% if "email" in identity_attributes %}
                    <h3>{{ _fsdomain("or") }}</h3>
                {% endif %}
                {{ render_field_with_errors(login_user_form.username) }}
            {% endif %}

            <div class="fs-gap">
                {{ render_field_with_errors(login_user_form.password) }}
            </div>

            {{ render_field_with_errors(login_user_form.remember, "form-checkbox") }}
            {{ render_field_errors(login_user_form.csrf_token) }}

            {{ render_field(login_user_form.submit, "button button-primary button-login") }}
        </form>
    </div>
</div>
{% endblock %}
