<div class="sidebar-container">
    <div id="tabs-top"></div>

    <nav id="sidebar" class="sidebar">
        {% for tab in tabs.keys() %}
            {% if tab == 'profile' %}
                {% set visibility = "visible" %}
            {% else %}
                {% set visibility = "" %}
            {% endif %}
            <div id="{{ tab }}-tab" class="sidebar-item {{visibility}}">
                <button type="button" name="{{ tab }}" onclick="changeTab(name)">
                    {{ tab | capitalize }}
                </button>
            </div>
        {% endfor %}
    </nav>

    <div id="panels" class="panel-container grow-three">
        {% for tab, panel in tabs.items() %}
            {% if tab == 'profile' %}
                {% set visibility = "" %}
            {% else %}
                {% set visibility = "hidden" %}
            {% endif %}
            <div id="{{ tab }}" class="panel {{visibility}}">
                {{ panel | safe}}
            </div>
        {% endfor %}
    </div>
</div>
