{% extends 'base.html' %}
{% import 'form_items/form_blank_items.html' as blanks %}
{% import 'form_items/form_project_specifics.html' as project_specifics %}
{% import 'form_items/energy.html' as energy %}
{% from "_macros.html" import render_field_with_errors, render_field, render_field_errors, render_form_errors, prop_next %}

{% block title %}
  Add Project
{% endblock %}
{% set nav = 'add-project' %}

{% block content%}

    {% if id %}
        {% set action = url_for('gui.projects.add_project') + "?id=" + id|string  %}
    {% else %}
        {% set action = url_for('gui.projects.add_project') %}
    {% endif %}

    <div class="sidebar-container form-content">
        <div id="tabs-top"></div>
        <nav id="sidebar" class="sidebar form-sidebar">
            <div id="general-tab" class="sidebar-item visible">
                <button class="form-sidebar-item" type="button" onclick="changeTab('general')">
                    General Information
                </button>
                {% if general_errors %}
                    <div class="form-field__error-indicator relative">!</div>
                {% endif %}
            </div>
            <div id="team-tab" class="sidebar-item">
                <button class="form-sidebar-item" type="button" onclick="changeTab('team')">
                    Team
                </button>
                {% if team_errors %}
                    <div class="form-field__error-indicator relative">!</div>
                {% endif %}
            </div>
            <div id="specifics-tab" class="sidebar-item">
                <button class="form-sidebar-item" type="button" onclick="changeTab('specifics')">
                    Project Specifics
                </button>
                {% if specifics_errors %}
                    <div class="form-field__error-indicator relative">!</div>
                {% endif %}
            </div>
            <div id="followup-tab" class="sidebar-item">
                <button class="form-sidebar-item" type="button" onclick="changeTab('followup')">
                    Follow-up
                </button>
                {% if followup_errors %}
                    <div class="form-field__error-indicator relative">!</div>
                {% endif %}
            </div>
        </nav>

        <form id="panels" class="panel-container grow-three" action="{{ action }}" method="POST" >
            {{ form.hidden_tag() }}

            <div id="general" class="panel form-panel">

                <div class="form-row">
                    {{ render_field_with_errors(form.name, class="grow-three") }}
                    {{ render_field_with_errors(form.date, class="grow-one") }}
                </div>

                {{ render_field_with_errors(form.description, input_class="large") }}
                {{ render_field_with_errors(form.category, input_class="form-field__input-list", is_input=False, onChange="projectSpecifics(this)") }}

                {% include 'form_items/location.html' %}

                {{ render_field_with_errors(form.sdgs, input_class="form-input-large", multiple=True) }}
                {{ render_field_with_errors(form.work_folder) }}
                <div class="form-row form-btn-nav">
                    <div class="grow-two"></div>
                    <button class="button button-primary grow-one" type="button" onClick="changeTab('team')">
                        Next
                    </button>
                </div>
            </div>

            <div id="team" class="panel form-panel hidden">
                <h2 class="form-header">Students</h2>
                <div class="form-row">
                    <div id="students" class="form-col form-card-list grow-one">

                        {% set deletable = True %}
                        {% for student in form.students %}
                            {{ blanks.student(student) }}
                        {% endfor %}

                    </div>
                </div>
                <div class="form-row">
                    <button id="students-button" class="button button-secondary button-team" type="button" onclick="addStudent()" >
                        Add Student
                    </button>
                </div>

                <h2 class="form-header">Supervisors</h2>
                <div class="form-row">
                    <div id="supervisors" class="form-col form-card-list grow-one">
                        {% set deletable = True %}
                        {% for supervisor in form.supervisors %}
                            {{ blanks.supervisor(supervisor) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row">
                    <button id="supervisors-button" class="button button-secondary button-team" type="button" onclick="addSupervisor()">
                        Add Supervisor
                    </button>
                </div>

                <h2 class="form-header">Partners</h2>
                <div class="form-row">
                    <div id="partners" class="form-col form-card-list grow-one">
                        {% set deletable = True %}
                        {% for partner in form.partners %}
                            {{ blanks.partner(partner) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row grow-one">
                    <button id="partners-button" class="button button-secondary button-team" type="button" onclick="addPartner()">
                        Add Partner
                    </button>
                </div>

                <div class="form-row form-btn-nav">
                    <button class="button button-secondary grow-one" type="button" onClick="changeTab('general')">
                        Previous
                    </button>
                    <div class="grow-one"></div>
                    <button class="button button-primary grow-one" type="button" onClick="changeTab('specifics')">
                        Next
                    </button>
                </div>
            </div>

            <div id="specifics" class="panel form-panel hidden">

                <div id="specifics-content">
                    <!-- Specific forms for subclasses of project will be inserted here -->
                    {% if form.category.data %}
                        {{ project_specifics.get(form.specifics) }}
                    {% else %}
                        <p class="form-item">Please select a project category...</p>
                    {% endif %}
                </div>
                <div class="form-row form-btn-nav">
                    <button class="button button-secondary grow-one" type="button" onClick="changeTab('team')">
                        Previous
                    </button>
                    <div class="grow-one"></div>
                    <button class="button button-primary grow-one" type="button" onClick="changeTab('followup')">
                        Next
                    </button>
                </div>
            </div>

            <div id="followup" class="panel form-panel hidden">
                <h2 class="form-header">Tasks</h2>
                <div class="form-row">
                    <div id="tasks" class="form-col form-card-list grow-one">
                        {% for task in form.tasks %}
                            {{ blanks.task(task) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row grow-one">
                    <button id="tasks-button" class="button button-secondary button-team" type="button" onclick="addTask()">
                        Add Task
                    </button>
                </div>

                <h2 class="form-header">Project Data</h2>
                <div class="form-row">
                    {{ render_field_with_errors(form.dashboard, "grow-one") }}
                </div>
                {% include 'form_items/datasource.html' %}

                <h2 class="form-header">Subscriptions</h2>

                <div class="form-card form-item form-row">
                    <div class="form-col col-center grow-one">
                        <img class="form-profile-image" src="{{ url_for('static', filename='img/humasol_icon_light.png') }}">
                    </div>
                    <div class="form-col grow-eight">
                        <div class="form-row row-center">
                            <div class="form-col grow-one">
                                <h4 class="form-item form-input-label">Humasol Follow-up</h4>
                                <h4 class="form-item form-input-label">Interval: 1</h4>
                            </div>
                            <div class="form-col grow-one">
                                <h4 class="form-item form-input-label">followup@humasol.be</h4>
                                <h4 class="form-item form-input-label">Interval Unit: Month</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div id="subscriptions" class="form-col form-card-list grow-one">
                        {% for sub in form.subscriptions %}
                            {{ blanks.subscription(sub) }}
                        {% endfor %}
                    </div>
                </div>
                <div class="form-row form-item grow-one">
                    <button id="subscriptions-button" class="button button-secondary button-team" type="button" onclick="addSubscription()">
                        Add Subscription
                    </button>
                </div>

                <div class="form-row form-btn-nav">
                    <button class="button button-secondary grow-one" type="button" onClick="changeTab('specifics')">
                        Previous
                    </button>
                    <div class="grow-one"></div>
                    {{ form.submit(class="button button-primary grow-one") }}
                </div>
            </div>

        </form>

    </div>


{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/add_project.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/select_multiple.js') }}"></script>
    <script type="text/javascript" defer>

        /*
        Render all templates that should be injected dynamically at some point
        using javascript.
        Store them in a globally accessible dictionary. This can be accessed
        from any JS script, and doing so allows to separate the actual logic
        into a .js file.

        The templates dictionary contains general components used in each
        project form.

        The templates_specifics dictionary contains templates used for specific
        project classes. It is structured with nested dictionaries, indexed by
        as string matching the ProjectCategory enum member name.
        To add a new category member, simply assign a nested dictionary to the
        category key.
        Each nested dictionary must contain at least one entry:
            - 'base': with the template for the rendered subform
        Optionally it can also contain:
            - 'js': the url to the matching static .js file which should be
                    loaded when this category is selected
            - self-defined keys mapping to the required rendered templates
        */

        const templates = {
            'student': {{ blanks.wrap(blanks.student(_forms['general']['StudentForm'])) }},
            'supervisor': {{ blanks.wrap(blanks.supervisor(_forms['general']['SupervisorForm'])) }},
            'partner': {{ blanks.wrap(blanks.partner(_forms['general']['PartnerForm'])) }},
            'task': {{ blanks.wrap(blanks.task(_forms['general']['TaskForm'])) }},
            'subscription': {{ blanks.wrap(blanks.subscription(_forms['general']['SubscriptionForm'])) }},
            'student-nondelete': {{ blanks.wrap(blanks.student(_forms['general']['StudentForm'], False)) }},
            'supervisor-nondelete': {{ blanks.wrap(blanks.supervisor(_forms['general']['SupervisorForm'], False)) }},
            'partner-nondelete': {{ blanks.wrap(blanks.partner(_forms['general']['PartnerForm'], False)) }},
            'period': {{ blanks.wrap(blanks.period(_forms['general']['PeriodForm'])) }}
        }

        const templates_specifics = {};

        templates_specifics['default'] = {
            'base': {{ blanks.wrap(project_specifics.default()) }}
        }

        templates_specifics['ENERGY'] = {
            'js': '{{ url_for("static", filename="scripts/energy.js") }}',
            'base': {{ blanks.wrap(project_specifics.energy(form.specifics.energy)) }},
            'source': {{ blanks.wrap(energy.source(unwrap(form.specifics.energy.sources))) }},
            'generator': {{ blanks.wrap(energy.generator(_forms['energy']['GeneratorForm'])) }},
            'grid': {{ blanks.wrap(energy.grid(_forms['energy']['GridForm'])) }},
            'pv': {{ blanks.wrap(energy.pv(_forms['energy']['PVForm'])) }},
            'storage': {{ blanks.wrap(energy.storage(unwrap(form.specifics.energy.storage))) }},
            'battery': {{ blanks.wrap(energy.battery(_forms['energy']['BatteryForm'])) }},
            'consumption': {{ blanks.wrap(energy.consumption(unwrap(form.specifics.energy.loads)))}}
        }
    </script>
    <script type="text/javascript">
        /*
        Format on load
        */

        // SDG multiselect
        new MultiSelectTag('#sdgs')  // id

        // Default student cards
        renumberListElements('#students', (n) => { return n == 'x' });

        {% if form.category.data %}
            selected = '{{ form.category.data }}'
            if ('js' in templates_specifics[selected]) {
                addScript(
                    selected.toLowerCase() + SCRIPT_SUFFIX,
                    templates_specifics[selected]['js']
                )
            }

            updateManagers('{{ form.category.data }}')
        {% endif %}

    </script>
{% endblock %}
