{% extends 'base.html' %}
{% import 'form_items/form_blank_items.html' as blanks %}
{% import 'form_items/form_project_specifics.html' as project_specifics %}
{% import 'form_items/energy.html' as energy %}

{% block title %}
  Add Project
{% endblock %}

{% block content%}

    <div class="page-header">
        <h1 class="page-title">Add Project</h1>
    </div>

    {% if id %}
        {% set action = url_for('gui.projects.add_project') + "?id=" + id|string  %}
    {% else %}
        {% set action = url_for('gui.projects.add_project') %}
    {% endif %}

    <form action="{{ action }}" method="POST" >
        {{ form.hidden_tag() }}

        <div id="project-general" class="form-section">
            <div class="form-row form-item">
                <h4>General information</h4>
            </div>

            <div class="form-row">
                <div class="form-col form-item grow-four">
                    {{ form.name.label(class="form-input-label") }}
                    {{ form.name(class="form-input") }}
                </div>

                <div class="form-col form-item grow-one">
                    {{ form.date.label(class="form-input-label") }}
                    {{ form.date(class="form-input") }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-col form-item grow-one">
                    {{ form.description.label(class="form-input-label") }}
                    {{ form.description(class="form-input large", rows=7) }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-col form-item grow-one">
                    {{ form.category.label(class="form-input-label") }}
                    {{ form.category(class="form-list", onChange="projectSpecifics(this)") }}
                </div>
            </div>

            <div class="form-row">
                {% include 'form_items/location.html' %}
            </div>

            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.sdgs.label(class="form-input-label") }}
                    {{ form.sdgs(class="form-input-large", multiple=True) }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.work_folder.label(class="form-input-label") }}
                    {{ form.work_folder(class="form-input") }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-col grow-one">
                    <div class="form-row form-item">
                        {{ form.students.label(class="form-input-label") }}
                    </div>
                    <div class="form-row">
                        <div id="students" class="form-col grow-one">

                            {% set deletable = True %}
                            {% for student in form.students %}
                                {{ blanks.student(student) }}
                            {% endfor %}

                        </div>
                    </div>
                    <div class="form-row form-item grow-one">
                        <button id="students-button" type="button" onclick="addStudent()" class="button-placeholder">
                            Add Student
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-col grow-one">
                    <div class="form-row form-item">
                        {{ form.supervisors.label(class="form-input-label") }}
                    </div>
                    <div class="form-row">
                        <div id="supervisors" class="form-col grow-one">
                            {% set deletable = True %}
                            {% for supervisor in form.supervisors %}
                                {{ blanks.supervisor(supervisor) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row form-item grow-one">
                        <button id="supervisors-button" type="button" onclick="addSupervisor()" class="button-placeholder">
                            Add Supervisor
                        </button>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-col grow-one">
                    <div class="form-row form-item">
                        {{ form.partners.label(class="form-input-label") }}
                    </div>
                    <div class="form-row">
                        <div id="partners" class="form-col grow-one">
                            {% set deletable = True %}
                            {% for partner in form.partners %}
                                {{ blanks.partner(partner) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row form-item grow-one">
                        <button id="partners-button" type="button" onclick="addPartner()" class="button-placeholder">
                            Add Partner
                        </button>
                    </div>
                </div>
            </div>

        </div>

        <div id="project-specific" class="form-section">
                <div class="form-row form-item">
                    <h4>Project specific information</h4>
                </div>
                <div id="specifics-content">
                    <!-- Specific forms for subclasses of project will be inserted here -->
                    {% if form.category.data %}
                        {{ project_specifics.get(form.specifics) }}
                    {% else %}
                        <p class="form-item">Please select a project category...</p>
                    {% endif %}
                </div>
            </div>

        <div id="project-followup" class="form-section {% if not show_followup %} hidden {% endif %}">
            <div class="form-row form-item">
                <h4>Follow-up information</h4>
            </div>

            <div class="form-row">
                <div class="form-col grow-one">
                    <div class="form-row form-item">
                        {{ form.tasks.label(class="form-input-label") }}
                    </div>
                    <div class="form-row">
                        <div id="tasks" class="form-col grow-one">
                            {% for task in form.tasks %}
                                {{ blanks.task(task) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row form-item grow-one">
                        <button id="tasks-button" type="button" onclick="addTask()" class="button-placeholder">
                            Add Task
                        </button>
                    </div>
                </div>
            </div>

            {% include 'form_items/datasource.html' %}

            <div class="form-row">
                <div class="form-col grow-one form-item">
                    {{ form.dashboard.label(class="form-input-label") }}
                    {{ form.dashboard(class="form-input") }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-col form-item">
                    {{ form.save_data.label(class="form-input-label") }}
                </div>
                <div class="form-col form-item">
                    {{ form.save_data() }}
                </div>
            </div>

            <div class="form-row">
                <div class="form-col grow-one">
                    <div class="form-row form-item">
                        {{ form.subscriptions.label(class="form-input-label") }}
                    </div>

                    <div class="form-card form-row">
                        <div class="form-col col-center grow-one">
                            <img class="form-profile-image" src="{{ url_for('static', filename='img/humasol_icon_light.png') }}">
                        </div>
                        <div class="form-col grow-eight">
                            <div class="form-row row-center">
                                <div class="form-col grow-one">
                                    <h4 class="form-item form-input-label">Humasol Follow-up</h4>
                                    <h4 class="form-item form-input-label">Interval: 1</h4>
                                </div>
                                <div class="form-col grow-one">
                                    <h4 class="form-item form-input-label">followup@humasol.be</h4>
                                    <h4 class="form-item form-input-label">Interval Unit: Month</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div id="subscriptions" class="form-col grow-one">
                            {% for sub in form.subscriptions %}
                                {{ blanks.subscription(sub) }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="form-row form-item grow-one">
                        <button id="subscriptions-button" type="button" onclick="addSubscription()" class="button-placeholder">
                            Add Subscription
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-col grow-one">
                <button id="btn-followup" type="button"
                        class="button button-secondary {% if show_followup %} hidden {% endif %}"
                        onclick="showFollowup()">
                    Follow-Up
                </button>
            </div>
            <div class="form-col grow-three">
                <!-- Used for spacing -->
            </div>
            <div class="form-col grow-one">
                {{ form.submit(class="button button-primary") }}
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/add_project.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/utils.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/select_multiple.js') }}"></script>
    <script type="text/javascript" defer>

        /*
        Render all templates that should be injected dynamically at some point
        using javascript.
        Store them in a globally accessible dictionary. This can be accessed
        from any JS script, and doing so allows to separate the actual logic
        into a .js file.

        The templates dictionary contains general components used in each
        project form.

        The templates_specifics dictionary contains templates used for specific
        project classes. It is structured with nested dictionaries, indexed by
        as string matching the ProjectCategory enum member name.
        To add a new category member, simply assign a nested dictionary to the
        category key.
        Each nested dictionary must contain at least one entry:
            - 'base': with the template for the rendered subform
        Optionally it can also contain:
            - 'js': the url to the matching static .js file which should be
                    loaded when this category is selected
            - self-defined keys mapping to the required rendered templates
        */

        const templates = {
            'student': {{ blanks.wrap(blanks.student(_forms['general']['StudentForm'])) }},
            'supervisor': {{ blanks.wrap(blanks.supervisor(_forms['general']['SupervisorForm'])) }},
            'partner': {{ blanks.wrap(blanks.partner(_forms['general']['PartnerForm'])) }},
            'task': {{ blanks.wrap(blanks.task(_forms['general']['TaskForm'])) }},
            'subscription': {{ blanks.wrap(blanks.subscription(_forms['general']['SubscriptionForm'])) }},
            'student-nondelete': {{ blanks.wrap(blanks.student(_forms['general']['StudentForm'], False)) }},
            'supervisor-nondelete': {{ blanks.wrap(blanks.supervisor(_forms['general']['SupervisorForm'], False)) }},
            'partner-nondelete': {{ blanks.wrap(blanks.partner(_forms['general']['PartnerForm'], False)) }},
            'period': {{ blanks.wrap(blanks.period(_forms['general']['PeriodForm'])) }}
        }

        const templates_specifics = {};

        templates_specifics['default'] = {
            'base': {{ blanks.wrap(project_specifics.default()) }}
        }

        templates_specifics['ENERGY'] = {
            'js': '{{ url_for("static", filename="scripts/energy.js") }}',
            'base': {{ blanks.wrap(project_specifics.energy(form.specifics.energy)) }},
            'source': {{ blanks.wrap(energy.source(unwrap(form.specifics.energy.sources))) }},
            'generator': {{ blanks.wrap(energy.generator(_forms['energy']['GeneratorForm'])) }},
            'grid': {{ blanks.wrap(energy.grid(_forms['energy']['GridForm'])) }},
            'pv': {{ blanks.wrap(energy.pv(_forms['energy']['PVForm'])) }},
            'storage': {{ blanks.wrap(energy.storage(unwrap(form.specifics.energy.storage))) }},
            'battery': {{ blanks.wrap(energy.battery(_forms['energy']['BatteryForm'])) }},
            'consumption': {{ blanks.wrap(energy.consumption(unwrap(form.specifics.energy.loads)))}}
        }
    </script>
    <script type="text/javascript">
        /*
        Format on load
        */

        // SDG multiselect
        new MultiSelectTag('#sdgs')  // id

        // Default student cards
        renumberListElements('#students', (n) => { return n == 'x' });

        {% if form.category.data %}
            selected = '{{ form.category.data }}'
            if ('js' in templates_specifics[selected]) {
                addScript(
                    selected.toLowerCase() + SCRIPT_SUFFIX,
                    templates_specifics[selected]['js']
                )
            }

            updateManagers('{{ form.category.data }}')
        {% endif %}

    </script>
{% endblock %}
