<!--<div class="page-header">-->
<!--    <h1 class="page-title">{{ project.name }}</h1>-->
<!--    {% if editable %}-->
<!--        <a class="nav button button-secondary" href="{{url_for('gui.projects.view_edit_project')}}?id={{ project.id }}">Edit</a>-->
<!--        <a class="nav button button-secondary" href="{{url_for('gui.projects.remove_project')}}?id={{ project.id }}">Delete</a>-->
<!--    {% endif %}-->
<!--</div>-->

<div class="project-content">
    <div id="general-info" class="col project-content">
<!--        <h2 class="hidden">General Project Information</h2>-->
        <div class="project-cover row">
            <div class="col grow-one justify-center project-cover-info">
                <span class="project-category">{{ project.category|capitalize }}</span>
                <span class="project-date">{{ project.implementation_date.strftime('%m.%Y') }}</span>
                <span class="project-location">
                    {% if project.location.address.street %}
                        {{ project.location.address.street|capitalize }}
                    {% endif %}
                    {% if project.location.address.number %}
                        {{ project.location.address.number }},
                    {% endif %}
                    {{ project.location.address.place }},
                    <span class="project-country">{{ project.location.address.country }}</span>
                </span>
            </div>
            <div class="project-description col grow-one justify-center">
                {{ project.description }}
            </div>
        </div>
    </div>
    <div class="sdg-section">
        <h2 class="project-section-header">Sustainable Development Goals</h2>
        <div class="sdgs">
            {% for sdg in project.sdgs %}
                <!-- <img src="{{ sdg.icon }}"> -->
                <a href="{{ sdg.link }}" target="_blank">
                    <!-- <img src="{{ sdg.icon }}"> -->
                    <div class="sdg-card">
                        <!-- <img src="{{  url_for('static', filename=sdg.icon) }}" class="sdg-icon"> -->
                        <object class="sdg-icon" type="image/svg+xml" data="{{  url_for('static', filename=sdg.icon) }}"></object>
                        <p class="sdg-name">{{ sdg.goal_name }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <div id="students" class="project-section">
        <h2 class="project-section-header">Students</h2>
        <div class="person-list">
            {% for student in project.students %}
                <div class="person-card">
                    <div class="person-cover">
                        <img class="person-img" src="{{ url_for('static', filename='img/humasol_icon_light.png') }}">
                        <p class="person-name">{{ student.name }}</p>
                    </div>

                    <div class="person-info">
                        <p>{{ student.email }}</p>
                        {% if student.phone %}
                            <p>{{ student.phone }}</p>
                        {% endif %}
                        <p>{{ student.university }}</p>
                        <p>{{ student.field_of_study }}</p>
                    </div>

                    <div class="person-background"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="supervisors" class="project-section">
        <h2 class="project-section-header">Project Supervisors</h2>
        <div class="person-list">
            {% for super in project.supervisors %}
                <div class="person-card">
                    <div class="person-cover">
                        <img class="person-img" src="{{ url_for('static', filename='img/humasol_icon_light.png') }}">
                        <p class="person-name">{{ super.name }}</p>
                    </div>

                    <div class="person-info">
                        <p>{{ super.email }}</p>
                        {% if super.phone %}
                            <p>{{ super.phone }}</p>
                        {% endif %}
                        <p>{{ super.function }}</p>
                    </div>

                    <div class="person-background"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="partners" class="project-section">
        <h2 class="project-section-header">Partners</h2>
        <div class="person-list">
            {% for partner in project.partners %}
                <div class="person-card">
                    <div class="person-cover">
                        <img class="person-img" src="{{ url_for('static', filename='img/profile_icon_placeholder.png') }}">
                        <p class="person-name">{{ partner.name }}</p>
                    </div>

                    <div class="person-info">
                        <p>{{ partner.email }}</p>
                        {% if partner.phone %}
                            <p>{{ partner.phone }}</p>
                        {% endif %}
                        <p>{{ partner.function }}</p>
                        <p>{{ partner.organization.name }}</p>
                    </div>

                    <div class="person-background"></div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div id="details-section" class="details-section">
        <h2 class="project-section-header project-details__header">Project Details</h2>
        <div class="project-details">
            <div class="col grow-three space-between">
                <p>Project work folder: {{ project.work_folder }}</p>
                {% if project.save_data %}
                    <p>Project data: {{ project.project_data }}</p>
                {% endif %}
                {% if project.dashboard %}
                    <p>Dashboard: {{ project.dashboard }}</p>
                {% endif %}
                {% if project.data_source %}
                    <p>Project data source: {{ project.data_source.source }}</p>
                    <p>API manager: {{ project.data_source.api_manager }}</p>
                    <p>Data manager: {{ project.data_source.data_manager }}</p>
                    <p>Report manager: {{ project.data_source.report_manager }}</p>
                {% endif %}
            </div>
            <div class="contact-person col align-center justify-center grow-two">
                <p>Contact Person</p>
                <img class="person-img" src="{{ url_for('static', filename='img/humasol_icon_light.png') }}">
                <p>{{ project.contact_person.name }}</p>
                <p>{{ project.contact_person.email }}</p>
                {% if project.contact_person.phone %}
                    <p>{{ project.contact_person.phone }}</p>
                {% endif %}
                <p>{{ project.contact_person.organization.name }}</p>
            </div>
        </div>
    </div>

    {% if has_followup %}
        <div id="followup">
            {% if project.tasks | length > 0 %}
                <div class="project-section">
                    <h2 class="project-section-header">Tasks</h2>
                    {% for task in project.tasks %}
                    <div class="task grow-one grow-width">
                        <div class="contact-person col align-center justify-center grow-one grow-width">
                            <p>Contact Person</p>
                            <img class="person-img" src="{{ url_for('static', filename='img/humasol_icon_light.png') }}">
                            <p>{{ task.subscriber.name }}</p>
                            <p>{{ task.subscriber.email }}</p>
                            {% if task.subscriber.phone %}
                            <p>{{ task.subscriber.phone }}</p>
                            {% endif %}
                            <p>{{ task.subscriber.organization.name }}</p>
                        </div>
                        <div class="task-info col grow-three grow-width">
                            <p class="task-title">{{ task.name }}</p>
                            <p>{{ task.function }}</p>
                            <p class="last-notified">
                                Last notified:
                                {% if task.last_notification %}
                                {{ task.last_notification }}
                                {% else %}
                                not yet notified
                                {% endif %}
                            </p>
                        </div>

                        <div class="task-periods col grow-three grow-width">
                            <p>
                                {% if task.periods|length > 1 %}
                                Periods
                                {% else %}
                                Period
                                {% endif %}
                            </p>

                            {% for period in task.periods %}
                            <div class="period row">
                                <p class="period-range">
                                    {{ period.start.strftime('%d.%m.%Y') }}
                                    -
                                    {% if period.end %}
                                        {{ period.end.strftime('%d.%m.%Y') }}
                                    {% endif %}
                                </p>
                                <p class="period-interval">
                                    Interval: {{ period.interval }}
                                    {% if period.interval > 1 %}
                                        {{ period.get_unit() }}s
                                    {% else %}
                                        {{ period.get_unit() }}
                                    {% endif %}
                                </p>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if project.subscription | length > 0 %}
                <div class="project-section">
                    <h2>Subscriptions</h2>
                    {% for sub in project.subscriptions %}
                    <div class="followup-work">
                        <div class="sub-img">
                            <img class="person-img" src="{{ url_for('static', filename='img/humasol_icon_light.png') }}">
                        </div>

                        <div class="sub-info grow-one grow-width">
                            <p>{{ sub.subscriber.name }}</p>
                            <p>{{ sub.subscriber.email }}</p>
                            {% if sub.subscriber.phone %}
                            <p>{{ task.subscriber.phone }}</p>
                            {% endif %}
                            <p>{{ sub.subscriber.organization.name }}</p>
                        </div>

                        <div class="sub-info grow-one grow-width">
                            <p>
                                Subscription
                                {% if sub.periods|length > 1 %}
                                periods
                                {% else %}
                                period
                                {% endif %}
                            </p>
                            {% for period in sub.periods %}
                            <p>
                                Every {{ period.interval }}
                                {% if period.interval > 1 %}
                                {{ period.get_unit() }}s,
                                {% else %}
                                {{ period.get_unit() }},
                                {% endif %}
                                from {{ period.start.strftime('%d-%m-%Y') }}
                                {% if period.end %}
                                until {{ period.end.strftime('%d-%m-%Y') }}
                                {% endif %}
                            </p>
                            {% endfor %}

                            <p>
                                Last notified:
                                {% if sub.last_notification %}
                                {{ sub.last_notification }}
                                {% else %}
                                not yet notified
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
<script>
    $('#page-title').text('{{ project.name}}')
</script>
