{% import 'utils.html' as utils %}

{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
    <head>
    {%- block head %}
        <title>Humasol | {% block title %}{% endblock title %}</title>

        {%- block metas %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {%- endblock metas %}

        {%- block styles %}
            <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        {%- endblock styles %}

        <script defer src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    {%- endblock head %}
    </head>
    <body id="body" {% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
        <header class="main-header">
            <a href="{{ url_for('gui.view_projects') }}">
                <img class="main-header-image" src="{{ url_for('static', filename='img/humasol_logo_light.png') }}">
            </a>
            {% block navbar %}
            <nav class="nav main-nav">
                <ul>
                    <li><a href="{{ url_for('gui.view_projects') }}">Projects</a></li>
                    {% if can_add_project %}
                        <li>
                            <a href="{{ url_for('gui.view_add_project') }}">Add Project</a>
                        </li>
                    {% endif %}
                    {% if user_authenticated %}
                        <li><a href="{{ url_for('gui.logout') }}">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('gui.view_login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </nav>
            {%- endblock navbar %}
        </header>
        <div class="loader">

        </div>
        <main id="main-content" class="content-section container">
            {% block content -%}
            {%- endblock content %}
        </main>

        {% block scripts %}
        {%- endblock scripts %}

    {%- endblock body %}
    </body>
{%- endblock html %}
</html>
{% endblock doc -%}
